.container{
    width: 100%;
    padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 48px 34px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    padding: 48px 107.5px;
  }
}