.loginContainer {
  position: relative;
  width: 100%;
  background-color: inherit;
  color: var(--color-title-reg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0%;
  text-align: center;
}

.loginCard {
  width: 100%;
  width: 330px;
  background-color: var(--background-color-reg);
  border-radius: 32px;
  margin: 45px 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 48px 32px;
}

.title {
  align-self: stretch;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
  align-self: stretch;
  width: 100%;
}

.formFields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  align-self: stretch;
  width: 100%;
}

.labelInputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 100%;
}

.label {
  align-self: stretch;
  font-size: 12px;
  letter-spacing: 0px;
}

.input {
  background-color: var(--background-color-inp);
  border: 1px solid var(--color-border);
  line-height: 1.5;
  color: var(--color-text-input);
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
}

.input:focus {
  outline: none;
  border-color: #649179;
}

.inputError {
  border: 1px solid var(--error-border-color);
}

.error {
  top: 100%;
  position: absolute;
  font-size: 12px;
  color: var(--error-text-color);
}

.passwordField {
  position: relative;
  width: 100%;
}

.passwordInput {
  background-color: var(--background-color);
  border: 1px solid #9f9f9f;
  line-height: 1.5;
  color: #595d62;
  width: 100%;
  padding: 8px 40px 8px 12px;
  border-radius: 6px;
}

.passwordInput:focus {
  outline: none;
  border-color: #649179;
}

.eyeIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  width: 13px;
  height: 13px;
  stroke: #000; 
  stroke-width: 2px;
  fill: none;
  cursor: pointer;
}

.loginButton {
  width: 100%;
  font-size: 16px;
  background-color: var(--color-back-reg-but);
  color: var(--color-text-but-reg);
  font-weight: 700; 
  padding: 8px;
  border: 1px solid #9f9f9f;
  border-radius: 6px;
}

.loginPrompt {
  align-self: stretch;
  color: #070721;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.registerLinkBottom {
  font-weight: 700;
  text-decoration: underline;
  color: #070721;
  transition: var(--transition);
}

.registerLinkBottom:hover,
.registerLinkBottom:focus {
  color: var(--button-bg-main-hover);
  opacity: 0.5;
}



/* Tablet (min-width: 768px) */
@media only screen and (min-width: 768px) {
  .loginCard {
    width: 522px;
  }
}

/* Desktop (min-width: 1440px) */
@media only screen and (min-width: 1440px) {
  .loginCard {
    width: 392px;
  }
}
