.reset-search-wrapper{
    padding: 40px 24px;
    max-width: 598px;
    background-color: rgba(250, 243, 224, 1);
    border-radius: 16px;
}

.reset-search-title{
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    max-width: 313px;
}

.reset-search-button{
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 18px;
    vertical-align: middle;
    padding: 16px 48px;
    border: 1px solid rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 768px) {
    .reset-search-button{
        padding: 16px 128px;
    }
}

@media only screen and (min-width: 1440px) {
    .reset-search-button{
        padding: 16px 166px;
    }   
}