.headerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 34, 24, 1);
    max-width: 100%;
    box-sizing: border-box;
    padding: 14px 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--header-color);
}   


