@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v19-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/manrope-v19-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/merienda-v21-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/manrope-v19-cyrillic_latin-800.woff2') format('woff2');
}

:root {
  --font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Merienda', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --backrgound-color-main:#fbfcf8;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-color: #FFFF;
  --background-color-footer: #3D2218;
  --background-color-reg: #FAF3E0;
  --background-color-inp: #FFFFFF;
  --background-color-input-photo: #9f9f9f;
  --color-border: #D9D9D9;
  --color-title-reg: #000000;
  --color-text-input: #9F9F9F;
  --color-back-reg-but: #9B6C43;
  --color-text-but-reg:#FFFF; 

  --error-text-color:  #FF0000;
}

a {
  font-weight: 500;
  color: var(--header-color); 
  text-decoration: none;  
}

body {
  margin: 0;
  background-color: var(--backrgound-color-main);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
